.about {
 padding: 170px 0;
 @include background (url("../images/about-bg.png"));
 &__subtitle {
  @include text (10px, 500, 1.2, $accentColor);
  font-family: "Roboto";
  margin-bottom: 24px;
  text-align: center;
 }
 &__title {
  @include text (24px, 500, 1.2, $accentColor);
  font-family: "Quicksand";
  margin-bottom: 90px;
  text-align: center;
 }
 &__inner {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
 }
 &__item {
  max-width: 135px;
  width: 100%;
  text-align: center;
  &:not(:last-child) {
   margin-right: 65px;
  }
 }
 &__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F5FF;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  margin: 0 auto 30px;
 }
 &__item-title {
  @include text (14px, 700, 1.7, $accentColor);
  font-family: "Open Sans";
  margin-bottom: 25px;
 } 
 &__item-text {
  @include text (11px, 600, 1.7, $textColor);
  font-family: "Open Sans";
 }
 &__links {
  text-align: center;
  span {
   @include text (11px, 600, 1.7, #ADB3CB);
   font-family: "Open Sans";
   position: relative;
   margin: 0 47px;
   &::before,
   &::after {
    @include pseudo;
    width: 15px;
    border: 1px solid #DAE4FE;
   }
   &::before {
    left: -35px;
    top: 7px;
   }
   &::after {
    left: 35px;
    top: 7px;
   }
  }
 }
 &__link {
  font-family: "Quicksand";
  padding: 13px 15px;
  transition: background-color 0.5s ease, color 0.5s ease;
 }
 &__link--red {
  @include text (13px, 700, 1.2, #D43F3F);
  background-color: #FFD7D7;
  &:hover {
   background-color: #D43F3F;
   color: #FFD7D7;
  }
 }
 &__link--blue {
  @include text (13px, 700, 1.2, $buttonColor);
  background-color: $buttonColorBg;
  &:hover {
   background-color: $accentColor;
   color: $primaryColor;
  }
 }
}